<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice Information</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Practice Information</h1>
        <p>Given the information of individuals, medical cost will generally increase as they get older. The medical cost will be slightly more for men. Increasing the BMI will increase the chance of more medical cost and the chances of higher medical cost for smokers.</p>
        <form action="{{ url_for('practice') }}" method="get">
            <button type="submit">Start Practice</button>
        </form>
    </div>
</body>
</html>